<app-header *ngIf="!showLoggedData"></app-header> 
<app-after-login-header *ngIf="showLoggedData"></app-after-login-header>
<nav class="bread-background" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-big align-items-center container">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Returns</li>
    </ol>
  </nav>
<div class="container smallHeight">
    <p>
        -  We hope you love what you've ordered, But if you're not 100% satisfied, we've made the return process very easy.

    </p>

    <p>
- You have maximum 14 days to return your order from the delivery date, After that we are unable to accept it.

    </p>
    <p>
        - Your Shipping fees for 1st return is free, In case you need to retun another items before 14 days passed we will refund your amount deducted by shipping fees.

    </p>

<h4>How do I make a return
</h4>
    <p>1. Sign into your HNLBS account 
    </p>
    <p>
        2. Select my orders click on return items

    </p>
    <p>
        3. Select the reason and submit

    </p>
</div>