<header class="header_main mb-1">

  <!-- Header Top Area End Here -->
  <!-- Begin Header Middle Area -->
  <div class="header-middle d-flex justify-content-between admin-top-header"> 
  
     
              <!-- Begin Header Logo Area -->
              <div class="logoAdmin">
	    
	              
                <!-- <img style="width: 130px;" src="../../../assets/images/logo_small.png" /> -->
                <h1 class="logo-text">
                    <a class="dark-color" routerLink="">
                      <img src="../../../assets/images/LOGO-HNLBS.png" />
                    </a>
                    
                </h1>

        </div>
        <div class="logout">
          <button (click)="signOut()" type="button" class="btn btn-success nobg-btn auto-width-btn normal-padding custom-auto-width-btn ml-10">
            <fa-icon class="ml5" [icon]="faSignOutAlt"></fa-icon>LogOut
          </button>
          </div>
              <!-- Header Logo Area End Here -->
              <!-- Begin Header Middle Right Area -->
    
              <!-- Header Middle Right Area End Here -->
          </div>


</header>