<ul class="nav nav-stacked flex-column nav-pills side-nav-bills">
  <!-- <li class=" nav-item">
    <a routerLink="/dashboard/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link ">
      <span>
        <fa-icon class="ml5" [icon]="faThList"></fa-icon>
      </span>

      لوحة التحكم

    </a>
  </li> -->
 
  <!-- <li class="nav-item">
    <a routerLink="/dashboard/adminAllPartners" routerLinkActive="active"  class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>
      </span>

      الكتاب

    </a>
  </li> -->

  <li class="nav-item">
    <a routerLink="/dashboard/addProduct" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faFolderOpen"></fa-icon>
      </span>

       Products

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/Categories" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faFolderOpen"></fa-icon>
      </span>

       Categories

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/Brands" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faCopyright"></fa-icon>
      </span>

      Brands

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/flashSale" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faPercentage"></fa-icon>
      </span>

      Flash Sale

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/flashSaleProducts" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faFolderOpen"></fa-icon>
      </span>

      Flash Sale Products

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/Shipping" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="mr5" [icon]="faTruck"></fa-icon>
      </span>

      Shipping Fees

    </a>
  </li>
 
  
  <li class="nav-item">
    <a routerLink="/dashboard/adminOrders" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faFolderOpen"></fa-icon>
      </span>

      Orders

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/adminPromoCodes" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faPercentage"></fa-icon>
      </span>

      Promo Code

    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard/subscribtions" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUserAlt"></fa-icon>
      </span>

      Subscribtions

    </a>
  </li>

  
  <!-- <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/adminPayments" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faHandHoldingUsd"></fa-icon>
      </span>

      المدفوعات

    </a>
  </li> -->
<!-- 
  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/taxInfo" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faMoneyBillAlt"></fa-icon>
      </span>

      معلومات الضرائب 

    </a>
  </li> -->
<!--   
  <li class="nav-item">
    <a routerLink="/dashboard/adminAllMessages" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faEnvelope"></fa-icon>
      </span>

      الرسائل

    </a>
  </li> -->
<!-- 
  <li class="nav-item">
    <a routerLink="/dashboard/adminPrices" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faMoneyBillWave"></fa-icon>
      </span>

      الاسعار

    </a>
  </li>

  <li *ngIf="takeActionsPrivilage" class="nav-item">
    <a routerLink="/dashboard/adminPromoCodes" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faPercentage"></fa-icon>
      </span>

      كوبونات التخفيض

    </a>
  </li> -->

  <li *ngIf="addprivilage" class="nav-item">
    <a href="#" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faUsersCog"></fa-icon>
      </span>

      adminPrivilageModerate

    </a>
  </li>
  <!-- <li class="nav-item">
    <a routerLink="/dashboard/adminArcheive" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faArchive"></fa-icon>
      </span>

      الأرشيف

    </a>
  </li> -->
  <!-- <li class="nav-item">
    <a routerLink="/dashboard/countries" routerLinkActive="active" class="nav-link">
      <span>
        <fa-icon class="ml5" [icon]="faFlag"></fa-icon>
      </span>

      الدول

    </a>
  </li> -->

  
  <li class="nav-item">
    <div class="tab-footer nav-link">


        <button class="signOut"  type="button" ngbDropdownItem>
          Sign Out
          <fa-icon class="mr5" [icon]="faSignOutAlt"></fa-icon>
        </button>
  
  
    </div>
  </li>





</ul>


