<app-header *ngIf="!showLoggedData"></app-header> 
<app-after-login-header *ngIf="showLoggedData"></app-after-login-header>
<nav class="bread-background" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-big align-items-center container">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Track Orders</li>
    </ol>
  </nav>
<div class="container smallHeight">


<h4>How to track orders


</h4>
    <p>1. Sign in to your HNLBS account 

    </p>
    <p>
        2. View profile and check your order status


    </p>
  
</div>