<app-header *ngIf="!showLoggedData"></app-header>
<app-after-login-header *ngIf="showLoggedData"></app-after-login-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb innerCrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Complete Order</li>
  </ol>
</nav>





<div *ngIf="showBeforeRedirect">

<div *ngIf="!showOfflineCart" class="shopping-cart-container container">
  <div *ngIf="allCartItems?.length>0" class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-block d-sm-none mb-2">
      <div class="shpcart-subtotal-block">
          <div class="subtotal-line">
            <b class="stt-name">Order Summary</b>
            <hr/>
              <b class="stt-name">Subtotal <span class="sub">({{allCartItems?.length}} items)</span></b>
              <span class="stt-price">{{(allCartCostOnline).toFixed(2)}} $</span>
          </div>
          <div class="d-flex align-items-center">
            <input style="font-size: 13px;" type="text" class="form-control"     [ngModelOptions]="{standalone: true}" [(ngModel)]="promoText" placeholder="Promo Code" />
            <button *ngIf="!showDeactive" (click)="checkPromoCode()" type="button" 
            class="btn btn-success insideTablebtn small-btn">
            activate 
          </button>
          <button *ngIf="showDeactive" (click)="clearPromo()" type="button"
            class="btn btn-danger insideTablebtn small-btn">
            clear 
          </button>
          </div>


          <div *ngIf="promoCodeMode" class="subtotal-line">
            <hr/>
              <b class="stt-name">Promo Code Value </b>
              <span class="stt-price">{{promoCodeDiscount}}$</span>
          </div>

 

          <div class="subtotal-line">
            <hr/>
              <b class="stt-name">Shipping fees </b>
              <span class="stt-price">{{shippingCost}}$</span>
          </div>

          <div *ngIf="cachOnDelivery == true" class="subtotal-line">
            <hr/>
              <b class="stt-name">COD ( cash on delivery fees) </b>
              <span class="stt-price">20$</span>
          </div>
          <div *ngIf="cachOnDelivery == true" class="subtotal-line">
            <hr/>
            <b class="stt-name">Total Cost <span class="sub"></span></b>
            <span *ngIf="promoCodeMode == true" class="stt-price">{{(allCartCostOnline  + shippingCost + 20 - promoCodeDiscount).toFixed(2)}} $</span>
            <span *ngIf="promoCodeMode == false" class="stt-price">{{(allCartCostOnline  + shippingCost + 20).toFixed(2)}} $</span>
          </div>
          <div *ngIf="cachOnDelivery == false" class="subtotal-line">
            <hr/>
            <b class="stt-name">Total Cost <span class="sub"></span></b>
            <span *ngIf="promoCodeMode == true"  class="stt-price">{{(allCartCostOnline  + shippingCost - promoCodeDiscount).toFixed(2)}} $</span>
            <span *ngIf="promoCodeMode == false"  class="stt-price">{{(allCartCostOnline  + shippingCost).toFixed(2)}} $</span>
          </div>
        
      </div>
  </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
    


      <div class="shippingInformation mb-4">
        <form *ngIf="!showAddShipping" [(formGroup)]="editShippingInfoForm" (ngSubmit)="editShipping()">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" formControlName="shippingName" placeholder="shippingName" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <select (change)="logCountryEdit()"class="form-control" formControlName="shippingContury">
                <option *ngFor="let country of countriesList;let i=index" [value]="country.country">
                  {{country.country}}
                </option>
              </select>
            </div>
            <div class="col-lg-4 form-group col-md-4 col-sm-4 col-xs-12">
              <select (change)="changeShipping()"  class="form-control" formControlName="shippingCity">
                <option *ngFor="let city of filteredCities" [value]="city">
                  {{city}}
                </option>
              </select>
            </div>
  
  
          </div>
  
  
  
          <div class="form-group">
            <textarea type="text" class="form-control" formControlName="shippingAddress"
              placeholder="shippingAddress"></textarea>
          </div>
  






          <div class="text-center">
            <div class=" d-inline-block mw300">
              <button [disabled]="!editShippingInfoForm.valid" type="submit"
              class="btn btn-success generalBtnStyle add-project-submit mr20 normal-padding">
              save
            </button>
  
            </div>
          </div>
      

          
        </form>
        <form *ngIf="showAddShipping" [(formGroup)]="addShippingInfoForm" (ngSubmit)="addShipping()">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" formControlName="shippingName" placeholder="shippingName" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <select (change)="logCountryEdit()"class="form-control" formControlName="shippingContury">
                <option *ngFor="let country of countriesList;let i=index" [value]="country.country">
                  {{country.country}}
                </option>
              </select>
            </div>
            <div class="col-lg-4 form-group col-md-4 col-sm-4 col-xs-12">
              <select (change)="changeShipping()"  class="form-control" formControlName="shippingCity">
                <option *ngFor="let city of filteredCities" [value]="city">
                  {{city}}
                </option>
              </select>
            </div>
  
  
          </div>
  
  
  
          <div class="form-group">
            <textarea type="text" class="form-control" formControlName="shippingAddress"
              placeholder="shippingAddress"></textarea>
          </div>
  






          <div class="text-center">
            <div class=" d-inline-block mw300">
              <button [disabled]="!addShippingInfoForm.valid" type="submit"
              class="btn btn-success generalBtnStyle add-project-submit mr20 normal-padding">
              Add
            </button>
  
            </div>
          </div>
      

          
        </form>
        <h6 *ngIf="editSuccess" class="text-center">edited successfully</h6>

        <h6 *ngIf="editFail" class="text-center">error in edit</h6>
      </div>
          <div class="paymentOptions">

            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWay()" id="payGate" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWay" value="paymentgateway" />
        
        
              <label class="drinkcard-cc bold-font line40 align-items-center d-flex" for="payGate">
                <fa-icon [icon]="faCcVisa"></fa-icon>
                Credit Card
        
              </label>
        
            </div>
            <div class=" cc-selector typeItem">
              <input checked="checked" (change)="changePaymentWay()" id="credit" type="radio"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="paymentWay" value="Cach" />
        
        
              <label class="drinkcard-cc bold-font line40 align-items-center d-flex" for="credit">
                <fa-icon [icon]="faWallet"></fa-icon>
                Cach On Delivery
        
              </label>
        
            </div>
     
        
        
          </div>
        
        
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-none d-sm-block">
          <div class="shpcart-subtotal-block">
              <div class="subtotal-line">
                <b class="stt-name">Order Summary</b>
                <hr/>
                  <b class="stt-name">Subtotal <span class="sub">({{allCartItems?.length}} items)</span></b>
                  <span class="stt-price">{{(allCartCostOnline).toFixed(2)}} $</span>
              </div>
              <div class="d-flex align-items-center">
                <input style="font-size: 13px;" type="text" class="form-control"     [ngModelOptions]="{standalone: true}" [(ngModel)]="promoText" placeholder="Promo Code" />
                <button *ngIf="!showDeactive" (click)="checkPromoCode()" type="button" 
                class="btn btn-success insideTablebtn small-btn">
                activate 
              </button>
              <button *ngIf="showDeactive" (click)="clearPromo()" type="button"
                class="btn btn-danger insideTablebtn small-btn">
                clear 
              </button>
              </div>


              <div *ngIf="promoCodeMode" class="subtotal-line">
                <hr/>
                  <b class="stt-name">Promo Code Value </b>
                  <span class="stt-price">{{promoCodeDiscount}}$</span>
              </div>



              <div class="subtotal-line">
                <hr/>
                  <b class="stt-name">Shipping fees </b>
                  <span class="stt-price">{{shippingCost}}$</span>
              </div>
   
              <div *ngIf="cachOnDelivery == true" class="subtotal-line">
                <hr/>
                  <b class="stt-name">COD ( cash on delivery fees) </b>
                  <span class="stt-price">20$</span>
              </div>
              <div *ngIf="cachOnDelivery == true" class="subtotal-line">
                <hr/>
                <b class="stt-name">Total Cost <span class="sub"></span></b>
                <span *ngIf="promoCodeMode == true" class="stt-price">{{(allCartCostOnline  + shippingCost + 20 - promoCodeDiscount).toFixed(2)}} $</span>
                <span *ngIf="promoCodeMode == false" class="stt-price">{{(allCartCostOnline  + shippingCost + 20).toFixed(2)}} $</span>
              </div>
              <div *ngIf="cachOnDelivery == false" class="subtotal-line">
                <hr/>
                <b class="stt-name">Total Cost <span class="sub"></span></b>
                <span *ngIf="promoCodeMode == true"  class="stt-price">{{(allCartCostOnline  + shippingCost - promoCodeDiscount).toFixed(2)}} $</span>
                <span *ngIf="promoCodeMode == false"  class="stt-price">{{(allCartCostOnline  + shippingCost).toFixed(2)}} $</span>
              </div>
              <div *ngIf="cachOnDelivery == true">
                <div class="text-left mt-3">
                  <div class=" d-inline-block mw300">
                    <button (click)="addOrderCash()"  type="button"
                    class="btn btn-success generalBtnStyle add-project-submit mr20 normal-padding">
                    Order
                  </button>
        
                  </div>
                </div>
              </div>
              <div *ngIf="cachOnDelivery == false">
    
    
                <div class="text-left mt-3">
                  <div class=" d-inline-block mw300">
                    <button (click)="addOrder()"  type="button"
                    class="btn btn-success generalBtnStyle add-project-submit mr20 normal-padding">
                    Order
                  </button>
        
                  </div>
                </div>
            
             
              </div>
          </div>
      </div>
  </div>

  <div *ngIf="allCartItems?.length==0">
    <div class="p50 text-center">
      <h1>
        Your Shopping Cart Is Empty
      </h1>
     
    </div>
  </div>
  <div *ngIf="!showAfterSubmit">
    <div class="p50 text-center">
      <h4>
        Cach Order Completed
      </h4>
     
    </div>
  </div>
  


</div>

<!-- <pre>{{allOfflineCartItems| json}}</pre> -->
<div *ngIf="showOfflineCart" class="shopping-cart-container container">
  <div *ngIf="allOfflineCartItems?.length>0" class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <h3 class="box-title">Your cart items</h3>
          <form class="shopping-cart-form" action="#" method="post">
              <table class="shop_table cart-form">
                  <thead>
                  <tr>
                    <th class="product-name">Product Name</th>
                    <th class="product-img">Product Image</th>
                    <th class="product-price">Size</th>
                    <th class="product-price">Price</th>
                    <th class="product-price">Quantity</th>
                    <th class="product-price">Total</th>
                    <th class="product-price">Remove</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cartItem of allOfflineCartItems" class="cart_item">
                      <td class="product-thumbnail">
   
                        <a class="prd-name" href="#">{{cartItem.name}}</a>   
                    
                    
                      </td> 
                      <td class="product-thumbnail center">
                     
                        <figure>
                          <!-- <img width="113" height="113" src="assets/images/shippingcart/pr-01.jpg" alt="shipping cart"> -->
                          <img width="113" height="113" class="cart_item_image"
                          [src]="'http://137.184.146.80:8080/hanlbs/api/images/' + cartItem.image" alt="">
                        </figure>
             
                        </td>
                        <td class="product-price" data-title="Price">
                          <div class="price price-contain">
                              <ins><span class="price-amount"><span class="currencySymbol"></span>{{cartItem.size}}</span></ins>
                              <!-- <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del> -->
                          </div>
                      </td>
                        
                      <td class="product-price" data-title="Price">
                          <div class="price price-contain">
                              <ins><span class="price-amount"><span class="currencySymbol">$</span>{{cartItem.price}}</span></ins>
                              <!-- <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del> -->
                          </div>
                      </td>
                      <td class="product-price" data-title="Price">
                        <div class="price price-contain">
                            <ins><span class="price-amount"><span class="currencySymbol"></span>{{cartItem.quantity}}</span></ins>
                            <!-- <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del> -->
                        </div>
                    </td>
                    <td class="product-price" data-title="Price">
                      <div class="price price-contain">
                          <ins>
                            <span class="price-amount">
                            {{(cartItem.quantity * cartItem.price)}}
                          </span>
                        </ins>
                      </div>
                  </td>
                      <td class="product-price" data-title="Price">
                              
                      <button (click)="removeProductFromCartOffline(cartItem)" type="button" style="margin-left: 10px;"
                      class="btn btn-danger insideTablebtn small-btn">
                      remove 
                    </button>
                        </td>
                  
                      <!-- <td class="product-quantity" data-title="Quantity">
                          <div class="quantity-box type1">
                              <div class="qty-input">
                                  <input type="text" name="qty12554" value="1" data-max_value="20" data-min_value="1" data-step="1">
                                  <a href="#" class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                  <a href="#" class="qty-btn btn-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </td> -->
                      <!-- <td class="product-subtotal" data-title="Total">
                          <div class="price price-contain">
                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                          </div>
                      </td> -->
                  </tr>
                
             
                  </tbody>
              </table>
          </form>
      </div>
      <div *ngIf="showOfflineCart" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="shpcart-subtotal-block">
              <div class="subtotal-line">
                  <b class="stt-name">Subtotal <span class="sub">({{allOfflineCartItems?.length}} items)</span></b>
                  <span class="stt-price">{{allCartCostOffline}} $</span>
              </div>
              <!-- <div class="subtotal-line">
                  <b class="stt-name">Shipping</b>
                  <span class="stt-price">£0.00</span>
              </div> -->
              <!-- <div class="tax-fee">
                  <p class="title">Est. Taxes &amp; Fees</p>
                  <p class="desc">Based on 56789</p>
              </div> -->
              <div class="btn-checkout">
                  <a href="#" class="btn checkout">Check out</a>
              </div>
              <!-- <div class="biolife-progress-bar">
                  <table>
                      <tbody><tr>
                          <td class="first-position">
                              <span class="index">$0</span>
                          </td>
                          <td class="mid-position">
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </td>
                          <td class="last-position">
                              <span class="index">$99</span>
                          </td>
                      </tr>
                  </tbody></table>
              </div> -->
              <!-- <p class="pickup-info"><b>Free Pickup</b> is available as soon as today More about shipping and pickup</p> -->
          </div>
      </div>
  </div>

  <div *ngIf="allOfflineCartItems?.length==0">
    <div class="p50 text-center">
      <h1>
        Your Shopping Cart Is Empty
      </h1>
     
    </div>
  </div>
</div>
</div>
<div *ngIf="!showBeforeRedirect">
  <div class="p50 text-center">
    <h4>
      You will redirect to payment gateway in seconds ....
    </h4>
   
  </div>
</div>

  






<div *ngIf="showLoader" class="loader loaderMaster">
  <div class="cssload-container">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</div>
